@import '../../style/mixins';


.Modal {
  @include element-position( absolute, 20%, 50%, auto, 30%, 2);
  width: 600px;
  height: 400px;
  background-color: rgba(43, 42, 42, 0.744);
  border-radius: 1px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  gap: 20px;
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.168);
  
  
  &__header {
    margin-left: 20px;
  }
  &__overlay { @include element-position (fixed, 0 , auto, auto, 0 ,9999);
    
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 100vh;

  }
  &__desc {
    padding: 0 20px;
    padding-bottom: 0;
  }

  .my__series {
    display: flex;
  }
  .my_container_series {
    margin-left: 20px;
  }
  &__img {
    width: 300px;
  
    height: 400px;
  }
  .vote {
    align-self: flex-end;
    margin-bottom: 50px;
    margin-top: 0;
  }
  .average {
    @include flex-element(row, flex-end);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
}


@media only screen and (max-width: 768px) {



  .Modal {
    @include element-position( absolute, 12%, 50%, 20%, 0%, 50%);
    width: 100%;
    height:80%;
    background-color: rgba(43, 42, 42, 0.744);
    border-radius: 1px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.168);
    
    
    &__header {
      margin-left: 10px;
      padding: 5px;
    }
    &__overlay { @include element-position (fixed,0 , auto, auto, 0 ,9999);
      
      background-color: rgba(0, 0, 0, 0.85);
      width: 100vw;
      height: 100vh;
  
    }
    &__desc {
      padding-right:30px;
      padding-bottom: 0;
    }
  
    .my__series {
      display: flex;
    }
    .my_container_series {
      margin-left: 20px;
    }
    &__img {
      width: 120px;
    object-fit: cover;
      height: 100%;
    }
    .vote {
      align-self: flex-end;
      margin-bottom: 50px;
      margin-top: 0;
    }
    .average {
      @include flex-element(row, flex-end);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 20px;
    }
    
  }
  

}