.UpComing_Section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
  }
  .UpComingList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding: 20px 0 0 20px;
  
  .UpComing__card {
    display: flex;
    scroll-snap-align: start;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 400px;
    color: white;
  }
  
  .likebtn {
    z-index: 88;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-end;
    padding-top: 360px;
    position: absolute;
    gap: 310px;
  }

  .info_icon:hover {
    z-index: 9999;
    transform: scale(1.5);
  }
  .icon {
    cursor: pointer;

    &:hover {
      color: red !important;
    }
  }
}
@media only screen and (max-width: 768px) {
.UpComing_Section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content:center;
    }  
    
    .UpComingList {
      display: flex;
      align-items: center;
     flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
      gap: 15px;
      width: 100%;
      height: 250px;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      scroll-padding: 20px 0 0 20px;
  
     
    .UpComing__card {
      display: flex;
      scroll-snap-align: start;
      flex-direction: column;
      justify-content: center;
 
      min-width: 280px;
      height: 88%;
      color: white;   
      
    }
    
    .likebtn {
      z-index: 88;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
     margin-left: 10px;
      align-items: flex-end;
      padding-top: 340px;
      position: absolute;
      gap: 190px;
    }


  }
}